@page
@model RoomRentalManagementSolution.Pages.RoomAttribute.price.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="color:red" class="text-center">Tạo giá phòng</h1>
<hr />
@if (TempData["SuccessMessage"] != null)
{
        <div class="alert alert-success">
        @TempData["SuccessMessage"]
        </div>
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Giá phòng</label>
                <input asp-for="RoomPrice.Price" class="form-control" />
                <span asp-validation-for="RoomPrice.Price" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Quay lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
