@page
@model RoomRentalManagementSolution.Pages.Customer.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="color:red" class="text-center">Cập nhật khách hàng</h1>
<hr />
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <form method="post">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Customer.CustomerId" />
                    <input type="hidden" value="@Model.Customer.RoomId" name="roomId" />
                    <div class="form-group col-lg-4">
                        <label class="control-label">Tên khách hàng</label>
                        <input asp-for="Customer.Name" class="form-control" />
                        <span asp-validation-for="Customer.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="control-label">Giới tính</label>
                        <select class="form-control" asp-for="Customer.Sex">
                            <option value="">-- Chọn giới tính --</option>
                            @if(Model.Customer.Sex.Trim() == "Nam")
                            {
                                <option value="Nam" selected>Nam</option>
                                <option value="Nữ">Nữ</option>
                            }
                            else
                            {
                                <option value="Nam">Nam</option>
                                <option value="Nữ" selected>Nữ</option>
                            }

                        </select>
                        <span asp-validation-for="Customer.Sex" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="control-label">Ngày sinh</label>
                        <input asp-for="Customer.Dob" class="form-control" type="date" step="1" />
                        <span asp-validation-for="Customer.Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="control-label">Số điện thoại</label>
                        <input asp-for="Customer.Phone" class="form-control" />
                        <span asp-validation-for="Customer.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="control-label">Email</label>
                        <input asp-for="Customer.Email" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="control-label">Địa chỉ</label>
                        <input asp-for="Customer.Address" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="control-label">Phòng</label>
                        <select asp-for="Customer.RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                        <span asp-validation-for="Customer.RoomId" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-4">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" style="border-radius:15px" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<button class="btn btn-secondary mt-3" style="border-radius:15px"><a asp-page="/Customer/Index" class="text-decoration-none" style="color:white;"> Quay lại</a></button>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
